
<h3>Создать</h3>
<form method="post">
  <label for="sum"><strong>the Sum:</strong></label>
  <input id="sum" type="text" name="sum" value="" style="width: 250px;"><br/>
  
  <label for="month"><strong>Month:</strong></label>
  <input id="month" type="text" name="month" style="width: 250px;"><br/>

  <label for="perc"><strong>Perc:</strong></label>
  <input id="perc" type="text" name="perc" style="width: 250px;"><br/>

  <label>Credit method:</label>
  <input type="radio" name='standart' value = "true" checked = "checked">standart
  <input type="radio" name='standart' value = "false">annuity
  <br/>

  <input type="submit" name="submit" value="Count">
</form>